Repository OmniNode-ai/onex_change_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

evidence(OMN-14086): self-bind OCC evidence commit for infra PR #2263
  drift/dod_receipts/OMN-14086/dod-occ-self-commit-infra-2263/command.yaml
Due: none

evidence(OMN-14400): add deploy assessment for omnimarket 1721
  contracts/OMN-14400.yaml
  drift/dod_receipts/OMN-14400/dod-OmniNode-ai-omnimarket-pr-1721/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14400/dod-deploy-assessment-head-3ce48de9/command.yaml
  drift/dod_receipts/OMN-14400/occ-self-bind-pr-3971/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14400/occ-self-bind-pr-3981/command.yaml
Due: none

evidence(OMN-14374): OCC companion for omniclaude PR #1894 (governor docs half)
  contracts/OMN-14374.yaml
  drift/dod_receipts/OMN-14374/dod-deploy-assessment-head-91048fdf/command.yaml
  drift/dod_receipts/OMN-14374/dod-omniclaude-pr-1894-head-91048fdf/command.yaml
Due: none

evidence(OMN-14374): self-bind OCC evidence commit for omniclaude PR #1894
  drift/dod_receipts/OMN-14374/dod-occ-self-commit-omniclaude-1894/command.yaml
Due: none

evidence(OMN-14404): autobind OCC evidence for OmniNode-ai/omnibase_core#1431
  contracts/OMN-14404.yaml
  drift/dod_receipts/OMN-14404/dod-OmniNode-ai-omnibase_core-pr-1431/command.yaml
Due: none

evidence(OMN-14404): self-bind OCC#3984 + rebind contract_sha256
  drift/dod_receipts/OMN-14404/occ-self-bind-pr-3984/command.yaml
Due: none

evidence(OMN-14396): OCC companion for omnimarket PR 1720 (#3977)
  contracts/OMN-14396.yaml
  drift/dod_receipts/OMN-14396/dod-deploy-assessment-head-f4685f4c/command.yaml
  drift/dod_receipts/OMN-14396/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14396/dod-omnimarket-pr-1720-head-f4685f4c/command.yaml
Due: none

evidence(OMN-14400): append behavioral-proof receipt + rebind supersessions after PR #3981
  contracts/OMN-14400.yaml
  drift/dod_receipts/OMN-14400/dod-OmniNode-ai-omnimarket-pr-1721/command.supersede.0002.yaml
  drift/dod_receipts/OMN-14400/dod-deploy-assessment-head-3ce48de9/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14400/dod-omnimarket-pr-1721-behavioral-proof-3ce48de9/command.yaml
  drift/dod_receipts/OMN-14400/occ-self-bind-pr-3971/command.supersede.0002.yaml
  drift/dod_receipts/OMN-14400/occ-self-bind-pr-3981/command.supersede.0001.yaml
Due: none

evidence(OMN-14404): bind OCC 3984 self evidence
  contracts/OMN-14404.yaml
  drift/dod_receipts/OMN-14404/dod-OmniNode-ai-omnibase_core-pr-1431/command.yaml
  drift/dod_receipts/OMN-14404/occ-self-bind-pr-3984/command.yaml
Due: none

evidence(OMN-14404): autobind OCC evidence for core 1431
  contracts/OMN-14404.yaml
  drift/dod_receipts/OMN-14404/dod-OmniNode-ai-omnibase_core-pr-1431/command.yaml
  drift/dod_receipts/OMN-14404/occ-self-bind-pr-3984/command.yaml
Due: none

evidence(OMN-14392): OCC companion for omnimarket PR 1719 (#3974)
  contracts/OMN-14392.yaml
  drift/dod_receipts/OMN-14392/dod-deploy-assessment-head-b85d1b25/command.yaml
  drift/dod_receipts/OMN-14392/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14392/dod-omnimarket-pr-1719-head-b85d1b25/command.yaml
Due: none

fix(OMN-14411): bind receipt hardening to per-entry contract hash, not whole-file
  scripts/validation/check_receipt_hardening.py
  tests/test_check_receipt_hardening.py
Due: mypy-type-check, check-ai-slop

evidence(OMN-14397): OCC companion for omnibase_infra PR 2265
  contracts/OMN-14397.yaml
  drift/dod_receipts/OMN-14397/dod-deploy-assessment-head-3e5e86d8/command.yaml
  drift/dod_receipts/OMN-14397/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14397/dod-omnibase-infra-pr-2265-head-3e5e86d8/command.yaml
Due: none

evidence(OMN-14411): author OCC companion for OmniNode-ai/onex_change_control#3986
  contracts/OMN-14411.yaml
  drift/dod_receipts/OMN-14411/dod-OmniNode-ai-onex_change_control-pr-3986/command.yaml
Due: none

evidence(OMN-14411): self-bind OCC#3987 + rebind contract_sha256
  drift/dod_receipts/OMN-14411/occ-self-bind-pr-3987/command.yaml
Due: none

evidence(OMN-14411): bind OCC 3987 self evidence
  contracts/OMN-14411.yaml
  drift/dod_receipts/OMN-14411/dod-OmniNode-ai-onex_change_control-pr-3986/command.yaml
  drift/dod_receipts/OMN-14411/occ-self-bind-pr-3987/command.yaml
Due: none

evidence(OMN-14411): autobind OCC evidence for OCC 3986
  contracts/OMN-14411.yaml
  drift/dod_receipts/OMN-14411/dod-OmniNode-ai-onex_change_control-pr-3986/command.yaml
  drift/dod_receipts/OMN-14411/occ-self-bind-pr-3987/command.yaml
Due: none

evidence(OMN-14399): add OCC receipts for omninode_infra pr 588
  contracts/OMN-14399.yaml
  drift/dod_receipts/OMN-14399/dod-deploy-assessment-head-7df817c0/command.yaml
  drift/dod_receipts/OMN-14399/dod-omninode-infra-pr-588-head-7df817c0/command.yaml
Due: none

evidence(OMN-14399): bind OCC companion commit
  drift/dod_receipts/OMN-14399/dod-occ-self-commit/command.yaml
Due: none

fix(OMN-14411): bind receipt hardening to per-entry contract hash
  scripts/validation/check_receipt_hardening.py
  tests/test_check_receipt_hardening.py
Due: mypy-type-check, check-ai-slop

evidence(OMN-14397): repair PR 2265 head evidence
  contracts/OMN-14397.yaml
  drift/dod_receipts/OMN-14397/dod-deploy-assessment-head-2aaf65f0/command.yaml
  drift/dod_receipts/OMN-14397/dod-omnibase-infra-pr-2265-head-2aaf65f0/command.yaml
Due: none

evidence(OMN-14397): self-bind OCC repair PR 3989
  contracts/OMN-14397.yaml
  drift/dod_receipts/OMN-14397/dod-occ-pr-3989-self-bind/command.yaml
Due: none

evidence(OMN-14411): append behavioral verification DoD + independent-verifier receipts for OCC PR 3986
  contracts/OMN-14411.yaml
  drift/dod_receipts/OMN-14411/dod-verify-corpus-backward-compat/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-fail-closed-cases/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-red-green-independent/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-supersessions-intact/command.yaml
Due: none

evidence(OMN-14411): self-bind receipt for OCC behavioral-evidence commit 8d919e8b
  drift/dod_receipts/OMN-14411/dod-occ-self-commit/command.yaml
Due: none

evidence(OMN-14410): author OCC companion for OmniNode-ai/omnibase_core#1433
  contracts/OMN-14410.yaml
  drift/dod_receipts/OMN-14410/dod-OmniNode-ai-omnibase_core-pr-1433/command.yaml
Due: none

fix(OMN-14397): tolerate older receipt gate imports
  scripts/validation/check_receipt_hardening.py
Due: check-ai-slop

evidence(OMN-14410): self-bind OCC#3991 + rebind contract_sha256
  drift/dod_receipts/OMN-14410/occ-self-bind-pr-3991/command.yaml
Due: none

evidence(OMN-14410): declare OCC self-bind evidence
  contracts/OMN-14410.yaml
  drift/dod_receipts/OMN-14410/dod-OmniNode-ai-omnibase_core-pr-1433/command.yaml
  drift/dod_receipts/OMN-14410/occ-self-bind-pr-3991/command.yaml
Due: none

fix(OMN-14397): self-contain receipt entry hash fallback
  scripts/validation/check_receipt_hardening.py
Due: check-ai-slop

fix(OMN-14411): make corpus check_value case-insensitive; rebind contract hashes
  contracts/OMN-14411.yaml
  drift/dod_receipts/OMN-14411/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-corpus-backward-compat/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-fail-closed-cases/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-red-green-independent/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-supersessions-intact/command.yaml
Due: none

fix(OMN-14410): keep receipt hardening compatible with core skew
  scripts/validation/check_receipt_hardening.py
Due: check-ai-slop

fix(OMN-14411): bind DoD checks to receipt content, not nested pytest
  contracts/OMN-14411.yaml
  drift/dod_receipts/OMN-14411/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-corpus-backward-compat/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-fail-closed-cases/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-red-green-independent/command.yaml
  drift/dod_receipts/OMN-14411/dod-verify-supersessions-intact/command.yaml
Due: none

fix(OMN-14410): tolerate older receipt model fields
  scripts/validation/check_receipt_hardening.py
Due: check-ai-slop

fix(OMN-14397): validate entry hashes with legacy receipt models
  scripts/validation/check_receipt_hardening.py
Due: check-ai-slop

evidence(OMN-14397): repair omnibase_infra PR 2265 head evidence
  contracts/OMN-14397.yaml
  drift/dod_receipts/OMN-14397/dod-deploy-assessment-head-2aaf65f0/command.yaml
  drift/dod_receipts/OMN-14397/dod-occ-pr-3989-self-bind/command.yaml
  drift/dod_receipts/OMN-14397/dod-omnibase-infra-pr-2265-head-2aaf65f0/command.yaml
  scripts/validation/check_receipt_hardening.py
Due: check-ai-slop

evidence(OMN-14391): OCC companion for omnibase_infra PR 2264
  contracts/OMN-14391.yaml
  drift/dod_receipts/OMN-14391/dod-deploy-assessment-head-a5dfd4e2/command.yaml
  drift/dod_receipts/OMN-14391/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14391/dod-omnibase-infra-pr-2264-head-a5dfd4e2/command.yaml
Due: none

evidence(OMN-14410): bind core evidence gate fix
  contracts/OMN-14410.yaml
  drift/dod_receipts/OMN-14410/dod-OmniNode-ai-omnibase_core-pr-1433/command.yaml
  drift/dod_receipts/OMN-14410/occ-self-bind-pr-3991/command.yaml
  scripts/validation/check_receipt_hardening.py
Due: check-ai-slop

evidence(OMN-14410): bind core PR 1433 remediation head
  contracts/OMN-14410.yaml
  drift/dod_receipts/OMN-14410/dod-omnibase-core-pr-1433-head-dffe6d40/command.yaml
Due: none

evidence(OMN-14410): self-bind follow-up OCC PR
  contracts/OMN-14410.yaml
  drift/dod_receipts/OMN-14410/occ-self-bind-pr-3993/command.yaml
Due: none

Path conditions:
  mypy-type-check: any of: ^(src/onex_change_control/|tests/).*\.py$ and \.py$
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$
