Repository OmniNode-ai/onex_change_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

feat: add no-untyped-metadata to .pre-commit-hooks.yaml [OMN-5135]
  .pre-commit-hooks.yaml
Due: none

feat: register no-untyped-metadata in .pre-commit-hooks.yaml [OMN-5135] (#54)
  .pre-commit-hooks.yaml
Due: none

chore: update version-matrix to reflect released versions [OMN-5095]
  standards/version-matrix.yaml
Due: none

feat(standards): support >= and ~= range pins in version pin compliance check [OMN-5132]
  standards/check_version_pins.py
  tests/unit/test_check_version_pins.py
Due: mypy-type-check, check-ai-slop

chore(standards): align version matrix with actual deployed pins [OMN-5132]
  standards/version-matrix.yaml
Due: none

chore(standards): rename duplicate script to check_unpinned_deps.py [OMN-5132]
  scripts/check_unpinned_deps.py
Due: check-ai-slop

fix(standards): resolve mypy errors for check_version_pins module [OMN-5132]
  pyproject.toml
  standards/check_version_pins.py
Due: check-ai-slop

feat(standards): support range pins and align version matrix [OMN-5132] (#56)
  pyproject.toml
  scripts/check_unpinned_deps.py
  standards/check_version_pins.py
  standards/version-matrix.yaml
  tests/unit/test_check_version_pins.py
Due: mypy-type-check, check-ai-slop

feat: add convention guard for omnidash bridge listener wiring [OMN-5132]
  scripts/validate_omnidash_bridge_wiring.sh
Due: none

fix: use POSIX-compatible sed pattern in bridge wiring validator [OMN-5132]
  scripts/validate_omnidash_bridge_wiring.sh
Due: none

feat: version pin range support + omnidash bridge wiring validator [OMN-5132] (#57)
  scripts/validate_omnidash_bridge_wiring.sh
Due: none

feat: add published_events structure validator [OMN-5158]
  .pre-commit-config.yaml
  scripts/validation/check_published_events_structure.py
  tests/test_check_published_events_structure.py
Due: mypy-type-check, check-ai-slop

feat: add canonical emit coverage validator [OMN-5160]
  scripts/validation/validate_canonical_emit_coverage.sh
Due: none

feat: add contract/runtime topic mapping drift detection [OMN-5162]
  scripts/validation/check_contract_drift.py
  tests/test_check_contract_drift.py
Due: mypy-type-check, check-ai-slop

chore: fix mypy strict type annotations [OMN-5157]
  tests/test_check_contract_drift.py
Due: mypy-type-check, check-ai-slop

chore: move Callable import to TYPE_CHECKING block (ruff TC003) [OMN-5157]
  tests/test_check_published_events_structure.py
Due: mypy-type-check, check-ai-slop

feat: event routing contract compliance validators [OMN-5157] (#58)
  .pre-commit-config.yaml
  scripts/validation/check_contract_drift.py
  scripts/validation/check_published_events_structure.py
  scripts/validation/validate_canonical_emit_coverage.sh
  tests/test_check_contract_drift.py
  tests/test_check_published_events_structure.py
Due: mypy-type-check, check-ai-slop

feat: add dod_evidence[] schema to ModelTicketContract [OMN-5168]
  src/onex_change_control/models/__init__.py
  src/onex_change_control/models/model_ticket_contract.py
  tests/test_dod_evidence_schema.py
Due: mypy-type-check, check-ai-slop

feat: add dod_evidence[] schema to ModelTicketContract [OMN-5168] (#59)
  src/onex_change_control/models/__init__.py
  src/onex_change_control/models/model_ticket_contract.py
  tests/test_dod_evidence_schema.py
Due: mypy-type-check, check-ai-slop

feat: add skill hygiene validator for cross-repo skill directory enforcement [OMN-5200]
  scripts/validation/validate_skill_hygiene.py
  tests/test_validate_skill_hygiene.py
Due: mypy-type-check, check-ai-slop

ci: add pre-commit hook preventing hardcoded topic strings [OMN-5256]
  .pre-commit-hooks.yaml
  pyproject.toml
  src/onex_change_control/scripts/check_hardcoded_topics.py
Due: mypy-type-check, check-ai-slop

feat: add skill hygiene validator for cross-repo skill directory enforcement [OMN-5200] (#60)
  scripts/validation/validate_skill_hygiene.py
  tests/test_validate_skill_hygiene.py
Due: mypy-type-check, check-ai-slop

ci: add pre-commit hook preventing hardcoded topic strings [OMN-5256] (#61)
  .pre-commit-hooks.yaml
  pyproject.toml
  src/onex_change_control/scripts/check_hardcoded_topics.py
Due: mypy-type-check, check-ai-slop

feat(onex_change_control): emit governance events to Kafka [OMN-5291]
  pyproject.toml
  src/onex_change_control/cosmetic/cli.py
  src/onex_change_control/kafka/__init__.py
  src/onex_change_control/kafka/governance_emitter.py
  src/onex_change_control/scripts/check_schema_purity.py
  src/onex_change_control/scripts/validate_yaml.py
  uv.lock
Due: mypy-type-check, check-ai-slop

fix: correct mypy type-ignore directive for kafka import [OMN-5291]
  src/onex_change_control/kafka/governance_emitter.py
Due: mypy-type-check, check-ai-slop

feat: add CI validation script for context integrity contract compliance [OMN-5243]
  .github/workflows/ci.yml
  pyproject.toml
  scripts/check_context_integrity_contracts.py
  tests/unit/test_check_context_integrity_contracts.py
Due: mypy-type-check, check-ai-slop

feat: add CI validation script for context integrity contract compliance [OMN-5243] (#63)
  .github/workflows/ci.yml
  pyproject.toml
  scripts/check_context_integrity_contracts.py
  tests/unit/test_check_context_integrity_contracts.py
Due: mypy-type-check, check-ai-slop

chore: update version matrix to current pyproject.toml state [OMN-5327]
  standards/version-matrix.yaml
Due: none

chore: update version matrix for pin alignment [OMN-5328]
  standards/version-matrix.yaml
Due: none

feat(models): add ModelDayOpen schema for begin-day pipeline [OMN-5349]
  src/onex_change_control/__init__.py
  src/onex_change_control/enums/__init__.py
  src/onex_change_control/enums/enum_finding_severity.py
  src/onex_change_control/enums/enum_probe_status.py
  src/onex_change_control/models/__init__.py
  src/onex_change_control/models/model_day_open.py
  tests/unit/test_model_day_open.py
Due: mypy-type-check, check-ai-slop

fix(tests): add mypy-strict type annotations to test_model_day_open [OMN-5349]
  tests/unit/test_model_day_open.py
Due: mypy-type-check, check-ai-slop

fix(tests): parametrize dict types for mypy strict [OMN-5349]
  tests/unit/test_model_day_open.py
Due: mypy-type-check, check-ai-slop

feat: backfill seam contracts and add CI coverage enforcement [OMN-5388]
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  contracts/OMN-5168.yaml
  contracts/OMN-5291.yaml
  scripts/validation/check_seam_contract_coverage.py
Due: check-ai-slop

feat: backfill seam contracts and add CI coverage enforcement [OMN-5388] (#67)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  contracts/OMN-5168.yaml
  contracts/OMN-5291.yaml
  scripts/validation/check_seam_contract_coverage.py
Due: check-ai-slop

ci(onex_change_control): add ruff UP007 standards compliance workflow [OMN-5132]
  .github/workflows/omni-standards-compliance.yml
Due: none

feat(ci): add reusable CodeQL workflow for all OmniNode repos [OMN-5420]
  .github/workflows/codeql-reusable.yml
Due: none

feat(ci): add reusable CodeQL workflow for all OmniNode repos [OMN-5420] (#69)
  .github/workflows/codeql-reusable.yml
Due: none

feat(ci): deploy CodeQL security scanning to onex_change_control [OMN-5427]
  .github/workflows/security-scan.yml
Due: none

feat(enums): add EnumProbeReason and EnumIntegrationSurface [OMN-5431]
  src/onex_change_control/enums/__init__.py
  src/onex_change_control/enums/enum_integration_surface.py
  src/onex_change_control/enums/enum_probe_reason.py
  tests/unit/enums/__init__.py
  tests/unit/enums/test_enum_integration_surface.py
  tests/unit/enums/test_enum_probe_reason.py
Due: mypy-type-check, check-ai-slop

fix(tests): replace enum for-loops with explicit member assertions [OMN-5433]
  tests/unit/enums/test_enum_integration_surface.py
  tests/unit/enums/test_enum_probe_reason.py
Due: mypy-type-check, check-ai-slop

Path conditions:
  mypy-type-check: any of: ^(src/onex_change_control/|tests/).*\.py$ and \.py$
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$
