Repository OmniNode-ai/onex_change_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-type-check, check-ai-slop

mypy-type-check:
  name: mypy (type checking)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

check-ai-slop:
  name: Check for AI-slop patterns
  language: system
  entry: uv run python scripts/validation/check_ai_slop.py
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-14445): wire platform-leads-review tripwire into required CI Summary
  .github/workflows/ci.yml
Due: none

evidence(OMN-14417): add OCC companion
  contracts/OMN-14417.yaml
  drift/dod_receipts/OMN-14417/dod-guide-defines-falsifiability-rule/command.yaml
  drift/dod_receipts/OMN-14417/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14417/dod-template-warns-against-self-grep/command.yaml
Due: none

evidence(OMN-14409): OCC companion for onex_change_control#3990 — contract substance floor (#4014)
  contracts/OMN-14409.yaml
  drift/dod_receipts/OMN-14409/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14409/dod-verify-3990-command-position-anchor/command.yaml
  drift/dod_receipts/OMN-14409/dod-verify-3990-gate-wired-in-ci/command.yaml
  drift/dod_receipts/OMN-14409/dod-verify-3990-kill-switch-present/command.yaml
Due: none

evidence(OMN-14417): bind companion to OCC PR
  contracts/OMN-14417.yaml
  drift/dod_receipts/OMN-14417/dod-guide-defines-falsifiability-rule/command.yaml
  drift/dod_receipts/OMN-14417/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14417/dod-template-warns-against-self-grep/command.yaml
Due: none

evidence(OMN-14435): self-bind OCC companion
  contracts/OMN-14435.yaml
  drift/dod_receipts/OMN-14435/dod-OmniNode-ai-omnimarket-pr-1725/command.yaml
  drift/dod_receipts/OMN-14435/occ-self-bind-pr-4015/command.yaml
Due: none

evidence(OMN-14435): bind replacement OCC PR
  contracts/OMN-14435.yaml
  drift/dod_receipts/OMN-14435/dod-OmniNode-ai-omnimarket-pr-1725/command.yaml
  drift/dod_receipts/OMN-14435/occ-self-bind-pr-4015/command.yaml
  drift/dod_receipts/OMN-14435/occ-self-bind-pr-4017/command.yaml
Due: none

evidence(OMN-14441): OCC companion for onex_change_control#4010 — prod-grant validator folded into the required CI Summary rollup
  contracts/OMN-14441.yaml
  drift/dod_receipts/OMN-14441/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14441/dod-verify-4010-gate-wired-in-required-rollup/command.yaml
  drift/dod_receipts/OMN-14441/dod-verify-4010-standalone-workflow-removed/command.yaml
  drift/dod_receipts/OMN-14441/dod-verify-4010-validator-implementation/command.yaml
Due: none

evidence(OMN-14441): bind self-receipt to this companion's first commit (b9d45b8660500476eeb6ee097d325c03c6053cb0)
  drift/dod_receipts/OMN-14441/dod-occ-self-commit/command.yaml
Due: none

evidence(OMN-14435): OCC Evidence-Source autobind for OmniNode-ai/omnimarket#1725 (#4017)
  contracts/OMN-14435.yaml
  drift/dod_receipts/OMN-14435/dod-OmniNode-ai-omnimarket-pr-1725/command.yaml
  drift/dod_receipts/OMN-14435/occ-self-bind-pr-4017/command.yaml
Due: none

fix(OMN-14417): stop circular self-grep OCC evidence guidance
  docs/TEMPLATE_GUIDE.md
  templates/ticket_contract.template.yaml
Due: check-ai-slop

evidence(OMN-14441): OCC companion for prod-grant validator CI rollup
  contracts/OMN-14441.yaml
  drift/dod_receipts/OMN-14441/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14441/dod-verify-4010-gate-wired-in-required-rollup/command.yaml
  drift/dod_receipts/OMN-14441/dod-verify-4010-standalone-workflow-removed/command.yaml
  drift/dod_receipts/OMN-14441/dod-verify-4010-validator-implementation/command.yaml
Due: none

fix(OMN-14445): make CROSS_REPO_PAT-failure legible; name token vs policy
  .github/workflows/ci.yml
  src/onex_change_control/scripts/check_platform_leads_review_tripwire.py
  tests/unit/scripts/test_check_platform_leads_review_tripwire.py
Due: mypy-type-check, check-ai-slop

evidence(OMN-14447): OCC companion for omnimarket#1726 — re-pin omnibase-core to a reachable commit
  contracts/OMN-14447.yaml
  drift/dod_receipts/OMN-14447/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14447/dod-verify-1726-dangling-pin-removed/command.yaml
  drift/dod_receipts/OMN-14447/dod-verify-1726-lock-pins-new-sha/command.yaml
  drift/dod_receipts/OMN-14447/dod-verify-1726-new-pin-is-reachable/command.yaml
Due: none

evidence(OMN-14447): bind self-receipt to this companion's first commit (212ef267af613afc6e13aa8b5953964b8c16c264)
  drift/dod_receipts/OMN-14447/dod-occ-self-commit/command.yaml
Due: none

evidence(OMN-14447): OCC companion for omnimarket#1726 — re-pin omnibase-core to a reachable commit (#4019)
  contracts/OMN-14447.yaml
  drift/dod_receipts/OMN-14447/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14447/dod-verify-1726-dangling-pin-removed/command.yaml
  drift/dod_receipts/OMN-14447/dod-verify-1726-lock-pins-new-sha/command.yaml
  drift/dod_receipts/OMN-14447/dod-verify-1726-new-pin-is-reachable/command.yaml
Due: none

fix(OMN-14441): require prod-promotion-grant validator in CI summary
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/validate-prod-promotion-grants.yml
  grants/prod_promotion_grants.yaml
  pyproject.toml
  src/onex_change_control/scripts/check_platform_leads_review_tripwire.py
  src/onex_change_control/scripts/validate_prod_promotion_grants.py
  tests/unit/scripts/test_check_platform_leads_review_tripwire.py
  tests/unit/scripts/test_validate_prod_promotion_grants.py
Due: mypy-type-check, check-ai-slop

feat(OMN-14448): probe CROSS_REPO_PAT type/expiry to scope the wedge-risk follow-up
  .github/workflows/ci.yml
Due: none

evidence(OMN-14434): OCC companion for onex_change_control#4005 — duplicate-registry-ids guard wired for prod_promotion_grants.yaml
  contracts/OMN-14434.yaml
  drift/dod_receipts/OMN-14434/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14434/dod-verify-4005-detector-negative-test/command.yaml
  drift/dod_receipts/OMN-14434/dod-verify-4005-guard-wired-in-precommit/command.yaml
  drift/dod_receipts/OMN-14434/dod-verify-4005-registry-declares-grant-id/command.yaml
Due: none

evidence(OMN-14434): bind self-receipt to this companion's first commit (8c60b23a4a27db2b77847793b968fbcf23344874)
  drift/dod_receipts/OMN-14434/dod-occ-self-commit/command.yaml
Due: none

fix(OMN-14434): pin duplicate registry hook to merged core
  .pre-commit-config.yaml
Due: none

evidence(OMN-14434): OCC companion for onex_change_control#4005 — duplicate-registry-ids guard for prod_promotion_grants.yaml (#4021)
  contracts/OMN-14434.yaml
  drift/dod_receipts/OMN-14434/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14434/dod-verify-4005-detector-negative-test/command.yaml
  drift/dod_receipts/OMN-14434/dod-verify-4005-guard-wired-in-precommit/command.yaml
  drift/dod_receipts/OMN-14434/dod-verify-4005-registry-declares-grant-id/command.yaml
Due: none

evidence(OMN-14434): rebind companion to current source head
  contracts/OMN-14434.yaml
  drift/dod_receipts/OMN-14434/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14434/dod-verify-4005-detector-negative-test/command.yaml
  drift/dod_receipts/OMN-14434/dod-verify-4005-guard-wired-in-precommit/command.yaml
  drift/dod_receipts/OMN-14434/dod-verify-4005-registry-declares-grant-id/command.yaml
Due: none

feat(OMN-14434): wire duplicate-registry-ids consumption for prod_promotion_grants.yaml (#4005)
  .duplicate-id-registries.yaml
  .pre-commit-config.yaml
  tests/unit/test_no_duplicate_grant_ids.py
Due: mypy-type-check, check-ai-slop

evidence(OMN-14400): bind OCC proof append to PR 3985
  contracts/OMN-14400.yaml
  drift/dod_receipts/OMN-14400/occ-self-bind-pr-3985/command.yaml
Due: none

feat(OMN-14436): DoD runner executes against the product, with a digest-bound grandfather ratchet
  scripts/ci/dod_runner_legacy_allowlist.txt
  scripts/ci/generate_dod_legacy_allowlist.py
  scripts/ci/run_contract_compliance_check.py
  tests/test_dod_runner_ratchet.py
Due: mypy-type-check, check-ai-slop

test(OMN-14436): type the ratchet-test runner loader (mypy strict, pre-push hook)
  tests/test_dod_runner_ratchet.py
Due: mypy-type-check, check-ai-slop

fix(OMN-14409): add substantive evidence to recent autobind contracts
  contracts/OMN-14401.yaml
  contracts/OMN-14435.yaml
  drift/dod_receipts/OMN-14401/dod-OmniNode-ai-omnibase_core-pr-1434-ci-checks/command.yaml
  drift/dod_receipts/OMN-14435/dod-OmniNode-ai-omnimarket-pr-1725-ci-checks/command.yaml
Due: none

evidence(OMN-14400): stabilize PR 3985 self-bind check
  contracts/OMN-14400.yaml
  drift/dod_receipts/OMN-14400/occ-self-bind-pr-3985/command.yaml
Due: none

feat(OMN-14409): contract substance floor — a DoD of only existence probes cannot certify correctness (#3990)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  contracts/OMN-14401.yaml
  contracts/OMN-14435.yaml
  drift/dod_receipts/OMN-14401/dod-OmniNode-ai-omnibase_core-pr-1434-ci-checks/command.yaml
  drift/dod_receipts/OMN-14435/dod-OmniNode-ai-omnimarket-pr-1725-ci-checks/command.yaml
  scripts/validation/check_contract_substance_floor.py
  scripts/validation/substance_floor_legacy_allowlist.yaml
  tests/test_check_contract_substance_floor.py
Due: mypy-type-check, check-ai-slop

evidence(OMN-14400): append behavioral-proof receipt + rebind supersessions after PR #3981 (#3985)
  contracts/OMN-14400.yaml
  drift/dod_receipts/OMN-14400/dod-OmniNode-ai-omnimarket-pr-1721/command.supersede.0002.yaml
  drift/dod_receipts/OMN-14400/dod-deploy-assessment-head-3ce48de9/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14400/dod-omnimarket-pr-1721-behavioral-proof-3ce48de9/command.yaml
  drift/dod_receipts/OMN-14400/occ-self-bind-pr-3971/command.supersede.0002.yaml
  drift/dod_receipts/OMN-14400/occ-self-bind-pr-3981/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14400/occ-self-bind-pr-3985/command.yaml
Due: none

evidence(OMN-14436): add OCC contract and receipts
  contracts/OMN-14436.yaml
  drift/dod_receipts/OMN-14436/dod-occ-self-pr-4022/command.yaml
  drift/dod_receipts/OMN-14436/dod-ratchet-tests/command.yaml
  drift/dod_receipts/OMN-14436/dod-ruff/command.yaml
  drift/dod_receipts/OMN-14436/dod-strict-mypy/command.yaml
Due: none

feat(OMN-14436): DoD runner executes against the product, with a digest-bound grandfather ratchet (#4022)
  contracts/OMN-14436.yaml
  drift/dod_receipts/OMN-14436/dod-occ-self-pr-4022/command.yaml
  drift/dod_receipts/OMN-14436/dod-ratchet-tests/command.yaml
  drift/dod_receipts/OMN-14436/dod-ruff/command.yaml
  drift/dod_receipts/OMN-14436/dod-strict-mypy/command.yaml
  scripts/ci/dod_runner_legacy_allowlist.txt
  scripts/ci/generate_dod_legacy_allowlist.py
  scripts/ci/run_contract_compliance_check.py
  tests/test_dod_runner_ratchet.py
Due: mypy-type-check, check-ai-slop

evidence(OMN-14436): append digest-binding + allowlist checks to the autogen contract
  contracts/OMN-14436.yaml
  drift/dod_receipts/OMN-14436/dod-verify-14436-allowlist-fully-digest-bound/command.yaml
  drift/dod_receipts/OMN-14436/dod-verify-14436-digest-binding-present/command.yaml
Due: none

evidence(OMN-14436): repair the 3 all-inert contracts blocking the canary
  contracts/OMN-14375.yaml
  contracts/OMN-14376.yaml
  contracts/OMN-14394.yaml
  drift/dod_receipts/OMN-14375/dod-deploy-assessment-head-b134fc47/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14375/dod-occ-self-commit/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14375/dod-omnibase-infra-pr-2262-head-b134fc47/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14375/dod-verify-2262-product-observing-repair/command.yaml
  drift/dod_receipts/OMN-14376/dod-deploy-assessment-head-c22182ed/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14376/dod-occ-self-commit/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14376/dod-omnibase-infra-pr-2261-head-c22182ed/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14376/dod-verify-2261-product-observing-repair/command.yaml
  drift/dod_receipts/OMN-14394/dod-deploy-assessment-head-daa28e5c/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14394/dod-occ-self-commit/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14394/dod-omnibase-infra-pr-2266-head-daa28e5c/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14394/dod-verify-2266-product-observing-repair/command.yaml
Due: none

evidence(OMN-14436): bind OMN-14436 evidence to this PR (#4023)
  contracts/OMN-14436.yaml
  drift/dod_receipts/OMN-14436/dod-occ-self-pr-4023/command.yaml
Due: none

evidence(OMN-14436): repair the 3 all-inert contracts blocking the canary (#4023)
  contracts/OMN-14375.yaml
  contracts/OMN-14376.yaml
  contracts/OMN-14394.yaml
  contracts/OMN-14436.yaml
  drift/dod_receipts/OMN-14375/dod-deploy-assessment-head-b134fc47/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14375/dod-occ-self-commit/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14375/dod-omnibase-infra-pr-2262-head-b134fc47/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14375/dod-verify-2262-product-observing-repair/command.yaml
  drift/dod_receipts/OMN-14376/dod-deploy-assessment-head-c22182ed/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14376/dod-occ-self-commit/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14376/dod-omnibase-infra-pr-2261-head-c22182ed/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14376/dod-verify-2261-product-observing-repair/command.yaml
  drift/dod_receipts/OMN-14394/dod-deploy-assessment-head-daa28e5c/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14394/dod-occ-self-commit/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14394/dod-omnibase-infra-pr-2266-head-daa28e5c/command.supersede.0001.yaml
  drift/dod_receipts/OMN-14394/dod-verify-2266-product-observing-repair/command.yaml
  drift/dod_receipts/OMN-14436/dod-occ-self-pr-4023/command.yaml
Due: none

evidence(OMN-14436): assert the ratchet invariant itself, not just that the build is healthy
  contracts/OMN-14436.yaml
  drift/dod_receipts/OMN-14436/dod-occ-self-ratchet-invariant/command.yaml
  drift/dod_receipts/OMN-14436/dod-verify-14436-allowlist-fully-digest-bound/command.yaml
  drift/dod_receipts/OMN-14436/dod-verify-14436-digest-binding-in-source/command.yaml
Due: none

evidence(OMN-14436): bind self-receipt to this PR's first commit (dbc76e547c05c277b5e828c5b6107c0ed3f13619)
  drift/dod_receipts/OMN-14436/dod-occ-self-ratchet-invariant/command.yaml
Due: none

evidence(OMN-14449): bind uv lock reachability gate
  contracts/OMN-14449.yaml
  drift/dod_receipts/OMN-14449/dod-occ-self-commit/command.yaml
  drift/dod_receipts/OMN-14449/dod-verify-1727-ci-summary-wires-reachability-job/command.yaml
  drift/dod_receipts/OMN-14449/dod-verify-1727-script-prunes-before-reachability/command.yaml
  drift/dod_receipts/OMN-14449/dod-verify-1727-test-proves-unpruned-false-pass/command.yaml
Due: none

Path conditions:
  mypy-type-check: any of: ^(src/onex_change_control/|tests/).*\.py$ and \.py$
  check-ai-slop: any of: \.py$, \.(md|markdown|mdown)$
